* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    overflow: hidden;
}

.delay-1-2s {
    animation-delay: 1.2s;
}

.outterWrapper {
    height: 100vh;
}

.innerWrapper {
    padding: 20px 20px 0;
    height: 70vh;
}

.logo {
    width: 90px;
}

h1 {
    font-family: 'Raleway', sans-serif;
    font-size: 18px;
    line-height: 1.3;
    padding: 0 30px;
    margin-bottom: 20px;
}

h3 {
    font-family: 'Open Sans', sans-serif;
    font-weight: 700;
    font-size: 20px;
    color: #fff;
    transition: 0.4s;
}

p {
    font-family: 'Open Sans', sans-serif;  
    font-size: 15px;
    line-height: 1.5;
    font-weight: 300;
    color: #7A7A7A;
}

button {
    font-family: 'Open Sans', sans-serif;  
    font-weight: 600;
    margin-top: 30px;
    color: #FF5252;
    padding: 10px 40px;
    border-radius: 100px;
    border: none;
    background-color: white;
    border: 1.5px solid #FF5252;
}

.introContent {
    text-align: center;
    position: relative;
    top: 45%;
    transform: translateY(-50%);
    
}

.colourArea {
    display: grid;
    align-items: center;
    background-color: #FF5252;
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 30%;
    text-align: center;
    transition: 0.4s;
}

@media (min-width: 768px) {

    .logo {
        width: 103px;
    }

    .innerWrapper {
        padding: 50px 50px 0;
        height: 60vh;
    }

    h1 {
        font-weight: 300;
        font-size: 40px;
        padding: 0 50px;
        margin-bottom: 20px;
    }

    p {
        font-size: 16px;
        padding: 0 80px;
    }

    button {
        font-weight: 400;
        font-size: 16px;
        margin-top: 50px;
        padding: 15px 50px;
        border-radius: 100px;
        border: 1.25px solid #FF5252;
    }

    .colourArea {
        height: 40%;
    }

    h3 {
        font-size: 40px;
    }
}

@media (min-width: 1366px) {

    .midWrapper {
        display: grid;
        grid-template-columns: 1fr 1fr;
    }

    .colourArea {
        position: static;
        height: 100%;
    }

    .innerWrapper {
        height: 100vh;
    }

    p {
        padding: 0 60px;
    }

    h1 {
        margin-bottom: 30px;
    }

    button {
        margin-top: 60px;
        transition: 0.1s;
        cursor: pointer;
    }

    button:hover {
        background-color: #FF5252;
        color: white;
    }

    button:focus {
        outline: 0;
    }
} 

@media (min-width: 1920px) {

    .logo {
        width: 128px;
    }

    h1 {
        font-size: 50px;
        padding: 0 12%;
    }

    p {
        font-size: 18px;
        line-height: 1.7;
        padding: 0 15%;
    }

    button {
        font-size: 18px;
        margin-top: 60px;
        padding: 20px 60px;
    }
} 
